/* ==========================================================================
   Основные переменные
   ========================================================================== */
$container-width: 1170px;
$container-width-big: 1400px;

$ff_base: 'Open Sans', Arial, sans-serif;
$ff_title: 'Blogger Sans', Arial, sans-serif;

// Ибо дизайн
$fw_ligth: 300;
$fw_base: 400;
$fw_medium: 500;
$fw_semibold: 600;
$fw_bold: 700;
$fw_extrabold: 800;


$fz_micro: 11px;
$fz_small: 12px;
$fz_base: 13px;
$fz_medium: 14px;
$fz_medium-large: 16px;
$fz_large: 18px;
$fz_big: 21px;
$fz_phone: 24px;
$fz_super-big: 28px;
$fz_mega: 36px;
$fz_super-mega: 38px;
$lh_super-mega: 42/38*1;


$fz_h1: 28px;
$lh_h1: 37/28*1;

$fz_h2: 24px;
$lh_h2: 30/24*1;

$fz_h3: 20px;
$lh_h3: 28/20*1;

$fz_h4: 18px;
$lh_h4: 26/18*1;


$fz_h5: 16px;
$lh_h5: 22/16*1;

$lh_small: 14/12*1;
$lh_base: 20/13*1;
$lh_medium: 22/15*1;
$lh_large: 26/18*1;
$lh_big: 30/21*1;

$f_base: $fw_base $fz_base/#{$lh_base} $ff_base;

$c_base: #000000;
$c_black-light: #242424;
$c_title: #000000;
$c_link: #359fdb;
$c_blue: #359fdb;
$c_muted: #777777;
$c_muted-alt: #9d9e9f;
$c_green: #2dc367;
$c_green-light: #a6d027;
$c_border-gray: #dfdfdf;
$c_btn-base: #fff;
$c_btn-black: #000;
$c_brd_purple: #AF6ADF;
$c_brd_gray: #EDEDED;
$c_brd_left-menu: #DADDE1;
$c_purple: #AF6ADF;
$c_date: #b0b0b0;
$c_error: rgba(red,.8);
$c_success: #2FD26E;
$c_gray-dark: #6f6f6f;


$bg_body: #fff;
$bg_main-nav: #ffffff;
$bg_main-news: #f2f2f2;
$bg_subscribe-form: #F6F7F8;
$bg_table-simple: #F8F9FA;
$bg_left-menu: #F1F4F6;
$bg_left-submenu: #E6E9EC;
$bg_right-panel: #F1F4F6;


$bg_btn-base: #A6D027;
$bg_orange: #F64125;
$bg_green: #A6D027;


// z-index's
$z_1: 1;
$z_2: 2;
$z_5: 5;
$z_10: 10;
$z_100: 100;
$z_header-panel: 200;
$z_catalog-item: 100;



// =====================
// Магические числа для быстрой кастомизации:
// =====================

// Размеры слайдера на главной странице
$h_slider: 400px;
$w_slider: 848px;
$w_slider-title: 300px;

$h_discounts-block: 400px;
$w_discounts-block: 262px;





$catalog-sprite_uri: url('../img/catalog-sprite.png');
