<header class="header" id="top">
  <div class="container">
    <div class="header__top  row">
      <div class="col--xs-9">
        <ul class="header__sub-navigation">
          <li><a href="#">Интересное</a></li>
          <li><a href="#">Частые вопросы</a></li>
          <li><a href="#">Полезные материалы</a></li>
          <li><a href="#">Наши бренды</a></li>
          <li><a href="#">Доставка в регионы</a></li>
          <li><a href="#">Бриф Promo Prime</a></li>
        </ul>
      </div>
      <!--
      Вот и нет личного кабинета
      <div class="col--xs-3">
        <div class="header__sign">
          <div class="header__sign-panel">
            <a href="#" class="header__sign-in  icon_lock">Войти</a>
            <span class="header__sing-separator">/</span>
            <a href="#" class="header__sign-up">Регистрация</a>
          </div>
        </div>
      </div> -->
    </div>


    <div class="header__panel  header-panel" id="js-stickyPanel">
      <div class="container  container--wide">
        <div class="row">
          <div class="col--xs-5">
            <div class="header-panel__left-col">
              <a href="index.html" class="header-panel__logo" title="на Главную">
                <img src="./img/main-logo.png" height="37" width="254" alt="Promo Prime">
              </a>
              <div class="header-panel__slogan">Реклама на подарках&nbsp;и&nbsp;сувенирах</div>
            </div>
          </div>
          <div class="col--xs-7">
            <div class="header-panel__right-col">
              <div class="header-panel__contact-area  header-contacts">
                <div class="header-contacts__work-hours">с&nbsp;10:00 до&nbsp;19:00, Пн-П</div>
                <div class="header-contacts__phone">+7&nbsp;(495)&nbsp;926-49-46</div>
                <div class="header-contacts__callback-area">
                  <a href="#callBackPopup" class="js-magnificPopup  btn btn--callback"  id="js-btnCallBack" data-effect="mfp-zoom-in">Обратный звонок</a>
                </div>
              </div>
              <div class="header-panel__cart-area  header-cart">
                <a href="#" class="header-cart__link  icon_cart" title="Перейти в корзину"><span>3</span></a>
                <div class="header-cart__min-price">
                  15 000 руб. <a class="js-magnificPopup  icon_min-price" href="#minPricePopup"  id="js-btnMinPrice" data-effect="mfp-zoom-in">мин. заказ</a>
                </div>
                <div class="header-cart__cost">999 999 руб.</div>
              </div>
              <div class="header-panel__btn-area">
                <a href="#" class="btn" title="Перейти к оформлению">Оформить</a>
              </div>
            </div>
          </div>
        </div>
        <!-- Памятка: сюда вставляем блок .main-catalog,
            вместо класса .main-navigation__catalog-menu
            класс .header__catalog -->
      </div>
    </div> <!-- // .header-panel -->


    <div class="main-navigation">
      <div class="main-navigation__catalog-link" data-id="mainNavCatLink">
        <button class="btn  btn--hamburger" id="js-btnHamburger" type="button"><span></span><b>Каталог товаров</b></button>
      </div>

      <ul class="main-navigation__menu">
        <li class="main-navigation__item  main-navigation__item--event">
          <a class="main-navigation__link" href="#">Корпоративные ивенты</a>
        </li>
        <li class="main-navigation__item">
          <a class="main-navigation__link" href="#">Компания</a>
        </li>
        <li class="main-navigation__item">
          <a class="main-navigation__link" href="#">Услуги</a>
        </li>
        <li class="main-navigation__item">
          <a class="main-navigation__link" href="#">Портфолио</a>
        </li>
        <li class="main-navigation__item">
          <a class="main-navigation__link" href="#">Интересное</a>
        </li>
        <li class="main-navigation__item">
          <a class="main-navigation__link" href="#">Контакты</a>
        </li>
      </ul>
      <button class="main-navigation__btn-search  btn  btn--search  icon_search" id="js-btnSearch" type="button">Открыть панель поиска</button>

      <div class="main-navigation__catalog-menu  main-catalog  icon_main-catalog-triange  -hidden" id="js-mainCatalog">
        <div class="row  row--collapsed  row--v-offset">
          <div class="col col--xs-2">
            <div class="main-catalog__group">
              <a href="#" class="main-catalog__group-name">Одежда</a>
              <ul class="main-catalog__list">
                <li><a href="#">Футболки</a></li>
                <li><a href="#">Майки</a></li>
                <li><a href="#">Бейсболки, козырьки, панамы</a></li>
                <li><a class="main-catalog__more-link  link-blue" href="#">Ещё 21 позиция...</a></li>
              </ul>

            </div>
          </div>
          <div class="col col--xs-2">
            <div class="main-catalog__group">
              <a href="#" class="main-catalog__group-name">Отдых и туризм</a>
              <ul class="main-catalog__list">
                <li><a href="#">Спортинвентарь</a></li>
                <li><a href="#">Пикник и барбекю</a></li>
                <li><a href="#">Игры и развлечения</a></li>
                <li><a href="#">Гамаки и кресла</a></li>
                <li><a href="#">Пляжные принадлежности</a></li>
                <li><a href="#">Мячи</a></li>
                <li><a class="main-catalog__more-link  link-blue" href="#">Ещё 21 позиция...</a></li>
              </ul>
            </div>
          </div>
          <div class="col col--xs-2">
            <div class="main-catalog__group">
              <a href="#" class="main-catalog__group-name">Бизнес и офис</a>
              <ul class="main-catalog__list">
                <li><a href="#">Канцтовары</a></li>
                <li><a href="#">Календари</a></li>
                <li><a href="#">Подарочные наборы</a></li>
                <li><a class="main-catalog__more-link  link-blue" href="#">Ещё 21 позиция...</a></li>
              </ul>
            </div>
          </div>
          <div class="col col--xs-2">
            <div class="main-catalog__group">
              <a href="#" class="main-catalog__group-name">Часы и погодные станции</a>
              <ul class="main-catalog__list">
                <li><a href="#">Настенные часы</a></li>
                <li><a href="#">Наручные часы</a></li>
                <li><a href="#">Настольные часы</a></li>
                <li><a href="#">Дорожные и карманные часы</a></li>
                <li><a class="main-catalog__more-link  link-blue" href="#">Ещё 21 позиция...</a></li>
              </ul>
            </div>
          </div>
          <div class="col col--xs-2">
            <div class="main-catalog__group">
              <a href="#" class="main-catalog__group-name">Кухни и бар</a>
              <ul class="main-catalog__list">
                <li><a href="#">Посуда</a></li>
                <li><a href="#">Кружки и чашки</a></li>
                <li><a href="#">Термосы, термокружки</a></li>
                <li><a class="main-catalog__more-link  link-blue" href="#">Ещё 21 позиция...</a></li>
              </ul>
            </div>
          </div>
          <div class="col col--xs-2">
            <div class="main-catalog__group">
              <a href="#" class="main-catalog__group-name">Антистресс</a>
              <ul class="main-catalog__list">
                <li><a href="#">Игрушки антистресс</a></li>
                <li><a href="#">Головоломки</a></li>
                <li><a href="#">Настольные антистрессы</a></li>
                <li><a class="main-catalog__more-link  link-blue" href="#">Ещё 21 позиция...</a></li>
              </ul>
            </div>
          </div>
        </div>

        <div class="row  row--collapsed  row--v-offset">
          <div class="col col--xs-2">
            <div class="main-catalog__group">
              <a href="#" class="main-catalog__group-name">Брелоки</a>
              <ul class="main-catalog__list">
                <li><a href="#">Оригинальные брелоки</a></li>
                <li><a href="#">Стандартные брелоки</a></li>
                <li><a class="main-catalog__more-link  link-blue" href="#">и ещё 5 позиций...</a></li>
              </ul>
            </div>
          </div>
          <div class="col col--xs-2">
            <div class="main-catalog__group">
              <a href="#" class="main-catalog__group-name">Зонты</a>
              <ul class="main-catalog__list">
                <li><a href="#">Зонты-трости</a></li>
                <li><a href="#">Складные зонты</a></li>
                <li><a class="main-catalog__more-link  link-blue" href="#">и ещё 5 позиций...</a></li>
              </ul>
            </div>
          </div>
          <div class="col col--xs-2">
            <div class="main-catalog__group">
              <a href="#" class="main-catalog__group-name">Дом и быт</a>
              <ul class="main-catalog__list">
                <li><a href="#">Пледы</a></li>
                <li><a href="#">Аксессуары для курения</a></li>
                <li><a href="#">Предметы интерьера</a></li>
                <li><a href="#">Шкатулки</a></li>
                <li><a class="main-catalog__more-link  link-blue" href="#">Ещё 21 позиция...</a></li>
              </ul>
            </div>
          </div>
          <div class="col col--xs-2">
            <div class="main-catalog__group">
              <a href="#" class="main-catalog__group-name">Личные вещи и аксессуары</a>
              <ul class="main-catalog__list">
                <li><a href="#">Уход за собой</a></li>
                <li><a href="#">Промо-аксессуары</a></li>
                <li><a href="#">Очки и аксессуары к ним</a></li>
                <li><a href="#">Аптечка</a></li>
                <li><a class="main-catalog__more-link  link-blue" href="#">и ещё 7 позиций...</a></li>
              </ul>
            </div>
          </div>
          <div class="col col--xs-2">
            <div class="main-catalog__group">
              <a href="#" class="main-catalog__group-name">Ежедневники</a>
              <ul class="main-catalog__list">
                <li><a href="#">Планинги</a></li>
                <li><a href="#">Блокноты</a></li>
                <li><a href="#">Телефонные книжки</a></li>
                <li><a class="main-catalog__more-link  link-blue" href="#">Ещё 21 позиция...</a></li>
              </ul>
            </div>
          </div>
          <div class="col col--xs-2">
            <div class="main-catalog__group">
              <a href="#" class="main-catalog__group-name">Сумки</a>
              <ul class="main-catalog__list">
                <li><a href="#">Спортивные сумки</a></li>
                <li><a href="#">Рюкзаки</a></li>
                <li><a href="#">Багажные бирки</a></li>
                <li><a class="main-catalog__more-link  link-blue" href="#">Ещё 21 позиция...</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div> <!-- // .main-catalog -->

      <div class="search-panel  -hidden" id="js-searchPanel">
        <form class="search-panel__form  form  form--inline" action="#" method="POST">
          <div class="form__group">
            <div class="form__input-group">
              <input type="text" class="form__control  form__control--wide  form__control--alt" placeholder="Наименование товара" id="searchPanelProductName" name="searchPanelProductName">
            </div>
          </div>

          <div class="form__group">
            <label for="searchPanelPriceFrom" class="form__label">Цена от:</label>
            <input type="text" class="form__control  form__control--alt  form__control--small" placeholder="0 р." id="searchPanelPriceFrom" name="searchPanelPriceFrom">
          </div>
          <div class="form__group">
            <label for="searchPanelPriceTo" class="form__label">до:</label>
            <input type="text" class="form__control  form__control--alt  form__control--small" placeholder="100 000 р." id="searchPanelPriceTo" name="searchPanelPriceTo">
          </div>
          <div class="form__group">
            <label for="searchPanelResidue" class="form__label">остаток:</label>
            <input type="text" class="form__control  form__control--alt  form__control--small" placeholder="0 р."  id="searchPanelResidue" name="searchPanelResidue">
          </div>
          <div class="form__group">
            <a class="search-panel__link" href="#" >Расширенный поиск</a>
          </div>
          <button class="btn  btn--search-close  search-panel__close" type="button" id="js-btnSearchPanelClose">Х</button>
          <button class="btn  btn--search-panel  search-panel__submit  icon_search-white" type="submit">Найти</button>
        </form>
      </div>
    </div>

    <hr class="purple">

    <div class="sub-navigation">
      <ul class="sub-navigation__table">
        <li class="sub-navigation__cell"><a href="#">Технические требования к макетам</a></li>
        <li class="sub-navigation__cell"><a href="#">Запросы для поиска сувенира менеджерами</a></li>
        <li class="sub-navigation__cell"><a href="#">Прайс по сборке и сортировке</a></li>
        <li class="sub-navigation__cell"><a href="#">Важная информация для клиента</a></li>
      </ul>
    </div>
  </div>
  <a href="#top" class="cd-top">Наверх</a>
</header>
