<!-- Исходники лежат в папке /front/src/vendor/ -->
<script src="./jquery-1.11.3.min.js"></script>
<script src="./vendor/jquery-plugins.min.js"></script>

<!-- Исходники лежат в папке /front/src/js/ -->
<!-- Сначала забираем все из /app затем в конец к ним приклеивается index.js, который и будет  -->
<script src="./js/index.js"></script>
