.box {

  @include clearfix();

  & + .box {
    margin-top: 45px;
  }

  & + .box--small-offset {
    margin-top: 30px;
  }

  &--bordered {
    padding-bottom: 30px;
    border-bottom: 2px solid $c_brd_gray;
  }

  &__title {
    @extend .h2;
    max-width: 700px;
    // margin-bottom: 20px;
    &--uppercase {
      text-transform: uppercase;
    }

    &--med {
      @extend .h3;
    }
    &--small {
      @extend .h4;
      text-transform: uppercase;
    }
    &--med-large {
      font-size: $fz_medium-large;
      line-height: $lh_medium;
      text-transform: uppercase;
    }
  }
  p {
    font-size: $fz_base;
    color: $c_muted;
    line-height: 2;
    margin-bottom: 0;
    & + p {
      margin-top: 20px;
    }
  }



  &__bnr-link {
    display: block;
    width: 100%;
    max-width: 262.5px;
    height: 346px;
    position: relative;
    overflow: hidden;
    background-color: $bg_green;
    border: 2px solid $c_brd_gray;
    border-radius: 10px;
    box-shadow: inset 0 0 6px 10px #fff;

    @include opacity-hvr();
    @include trz(opacity, .25s);
  }

  &__bnr-img {
    @include zero-centering();
    border-radius: 10px;
  }

}
