.breadcrumbs {
  margin-bottom: 18px;

  &__list {
    @include list-clear();
    font-family: $ff_base;
    font-size: $fz_base;
    line-height: $lh_base;

  }
  li {
    display: inline;
    white-space: nowrap
  }
  li:not(:last-child) {
    position: relative;
    margin-right: 10px;
    padding-right: 18px;
    color: $c_link;
    @extend .icon_arrow-blue;

    &:before {
      content: '';
      display: block;
      position: absolute;
      right: 0px;
      top: 50%;
      margin-top: -2.5px;
    }
  }
  li:last-child {
    color: $c_muted;
  }

  a {
    @include trz(all, .25s);
    @include tdr();
    color: $c_link;
  }
}
