$btn_shadow-gray: #ddd;
$bg_btn-search-light-gray: #EDF0F2;

button.btn,
a.btn,
.btn {
  display: inline-block;
  vertical-align: middle;
  outline: none;
  border: none;
  background-color: $bg_btn-base;
  box-shadow: none;
  padding: 15px 22px;
  // min-height: 45px;
  font-family: $ff_base;
  font-size: $fz_medium;
  font-weight: $fw_bold;
  line-height: 1;
  margin-bottom: 0;
  text-align: center;
  white-space: nowrap;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border-radius: 30px;
  color: $c_btn-base;

  @include bg-hvr($bg_btn-base);
  @include tdn(none);
  @include color-hvr($c_btn-base);
  @include trz(all, .25s);

  &:hover,
  &:active,
  &:focus {
    outline: 0;
    box-shadow: none;
    border: none;
  }
  &:focus {
    color: $c_btn-base;
  }
  &:active:focus {
    outline: 0;
  }

  &--callback {
    background-color: transparent;
    font-size: $fz_micro;
    line-height: 1;
    font-style: italic;
    font-weight: $fw_base;
    color: $c_btn-black;
    padding: 4px 12px 5px;
    box-shadow: inset 0 0 0 1px $btn_shadow-gray;
    &:hover {
      background: darken(#fff, 3%);
      box-shadow: inset 0 0 0 1px darken($btn_shadow-gray, 10%);
      color: $c_btn-black;
    }
    &:active {
      background: darken(#fff, 6%);
      box-shadow: inset 0 0 0 1px darken($btn_shadow-gray, 20%);
      color: lighten($c_btn-black, 20%);
    }
    &:focus {
      color: $c_btn-black;
      box-shadow: inset 0 0 0 1px darken($btn_shadow-gray, 20%);
    }
  }


  &--transparent {
    // background-color: transparent;
    // color: #c
  }

  &--input {
    width: 40px;
    padding: 12px;
    border-radius: 5px;
  }

  &--search {
    width: 21px;
    height: 21px;
    background-color: transparent;
    padding: 0;
    vertical-align: middle;
    &:hover,
    &:active,
    &:focus {
      background-color: transparent;
    }
  }
  &--search-sticky {
    position: fixed;
    z-index: $z_header-panel + 1;
    top: 15px;
    width: 45px;
    height: 45px;
    background-color: $bg_btn-search-light-gray;
    border-radius: 50%;
    margin-left: 5px;

    &:before {
      position: absolute;
      left: 12px;
      top: 12px;
    }
  }

  &--hamburger {
    position: relative;
    background-color: transparent;
    color: $c_black-light;
    vertical-align: middle;
    padding: 0;
    height: 25px;
    text-transform: uppercase;
    font-size: $fz_medium-large;
    @include trz(all, .25s);
    @include color-hvr($c_black-light);
    &:hover {
      // opacity: .8;
      span {
        &:before {top: -8px;}
        &:after {bottom: -8px;}
      }
    }

    &:hover,
    &:active,
    &:focus {
      background-color: transparent;
    }
    &:focus {
      color: inherit;
    }
    b {
      margin-left: 10px;
    }
    span {
      display: inline-block;
      vertical-align: middle;
      width: 25px;
      height: 3px;
      background-color: $c_black-light;
      position: relative;
      top: -2px;
      border-radius: 3px;
      @include trz(all, .2s, linear);

      &:before,
      &:after {
        @include trz(all, .2s, linear);
        content: '';
        position: absolute;
        width: 100%;
        display: block;
        height: 3px;
        left: 0;
        background-color: $c_black-light;
        border-radius: 3px;
      }
      &:before {
        top: -6px;
      }
      &:after {
        bottom: -6px;
      }
    }
    &-active {
      span {
        background-color: $c_muted;
        &:before {
          top: -8px;
          background-color: $c_muted;
        }
        &:after {
          bottom: -8px;
          background-color: $c_muted;
        }
      }
    }
  }
  &--hamburger-sticky {
    // padding-left: 25px;
    b {
      @include text-hide();
    }
    position: fixed;
    z-index: $z_header-panel + 1;
    top: 25px;
  }

  &--search-panel {
    text-align: right;
    padding-left: 72px;
    padding-right: 48px;
  }
  &--search-close {
    width: 30px;
    height: 30px;
    padding: 5px;
    vertical-align: middle;
    background-color: transparent;
    color: $c_black-light;

    &:hover,
    &:active,
    &:focus {
      background-color: transparent;
      color: $c_black-light;
    }
    &:focus {
      color: $c_black-light;
    }
  }

  &--slider {
    background-color: transparent;
    border: 2px solid #fff;
    font-weight: $fw_semibold;
    font-size: $fz_small;
    color: #fff;
    text-transform: uppercase;
    @include opacity-hvr();
    @include trz(opacity, .25s);
    padding-right: 45px;

    &:before {
      position: absolute;
      top: 50%;
      right: 25px;
      margin-top: -3px;
    }

    &:hover,
    &:active,
    &:focus {
      background-color: transparent;
      color: #fff;
      border: 2px solid #fff;
    }
    &:focus {
      color: #fff;
    }
  }

  &--discount {
    background-color: #fff;
    // border: 2px solid #fff;
    color: $c_black-light;
    font-weight: $fw_semibold;
    font-size: $fz_small;
    text-transform: uppercase;
    @include opacity-hvr();
    @include trz(opacity, .25s);
    padding-right: 45px;

    &:before {
      position: absolute;
      top: 50%;
      right: 25px;
      margin-top: -3px;
    }

    &:hover,
    &:active,
    &:focus {
      background-color: #fff;
      color: $c_black-light;
      // border: 2px solid #fff;
    }
    &:focus {
      color: $c_black-light;
    }
  }

  &--error-page {
    font-family: $ff_title;
    font-weight: $fw_bold;
    font-size: 22px;
    line-height: 1;
    padding: 22px 60px;
  }

  &--add-cart {
    padding: 8px 20px 8px 50px;
    position: relative;

    &:before {
      position: absolute;
      top: 50%;
      left: 23px;
      margin-top: -11px;
    }
  }

  &--add-cart-big {
    font-size: $fz_medium-large;
    padding: 13px 22px 11px;

    span {
      display: inline-block;
      vertical-align: middle;
      position: relative;
      top: -4px;
      margin-right: 10px;
    }
  }


  &--block {
    display: block;
    width: 100%;
  }

  &--dotted-link {
    background-color: transparent;
    padding: 0 0 1px 0;
    color: $c_blue;
    border:none;
    border-bottom: 1px dashed $c_blue;
    font-weight: $fw_base;
    border-radius: 0;

    &:hover,
    &:active,
    &:focus {
      background-color: transparent;
      color: $c_blue;
      border-bottom: none;
    }
    &:focus {
      color: $c_blue;
    }
  }

  &--go-shopping {
    padding: 17px 30px;
  }

  &--medium-large {
    font-size: $fz_medium-large;
  }

  &--continue {
    background-color: #EDF0F2;
    color: #adb2b5;
    @include opacity-hvr();
    @include trz(opacity, .25s);

    &:hover,
    &:active,
    &:focus {
      background-color: #EDF0F2;
      color: #adb2b5;
    }
    &:focus {
      color: #adb2b5;
    }
  }
}
