.cart {
  display: table;
  border-collapse: separate;
  width: 100%;

  &__item {
    display: table-row;
    width: 100%;
  }




  &__cell {
    padding-top: 14px;
    padding-bottom: 14px;
    border-top: 2px solid  $c_brd_gray;
    border-bottom: 2px solid $c_brd_gray;
    display: table-cell;
    vertical-align: middle;

    &:first-child {
      border-left: 2px solid $c_brd_gray;
      border-top-left-radius: 10px;
      border-bottom-left-radius: 10px;
      padding-left: 14px;
    }

    &:last-child {
      border-right: 2px solid $c_brd_gray;
      border-top-right-radius: 10px;
      border-bottom-right-radius: 10px;
      padding-right: 14px;
    }

    &--img {
      width: 100px;
      max-width: 100px;
      padding-right: 20px;
    }

    &--characteristics {
      width: 300px;
      max-width: 300px;
      padding-right: 15px;
    }

    &--price {
      width: 100px;
      max-width: 100px;
      padding-right: 15px;
      font-size: $fz_medium;
      color: $c_gray-dark;
      b {
        font-weight: $fw_bold;
      }
    }

    &--actions {
      width: 75px;
      max-width: 75px;
    }

    &--summary {
      width: 170px;
      max-width: 170px;
      padding-left: 20px;
      padding-right: 15px;
      font-size: $fz_medium;
      color: $c_gray-dark;
      b {
        font-weight: $fw_bold;
      }
    }

    &--delete {
      width: 100px;
      padding-right: 14px;
      padding-left: 15px;
    }
  }


  &__img-wrap {
    width: 64px;
    height: 64px;
    position: relative;
    overflow: hidden;
    border: 2px solid $c_brd_gray;
    @include opacity-hvr();
    @include trz(opacity, .25s);
    display: block;
    border-radius: 5px;
  }
  &__img {
    @include zero-centering();
  }


  &__item-name {
    font-family: $ff_title;
    font-weight: $fw_bold;
    font-size: $fz_medium;
    display: inline-block;
    @include tdn();
    @include trz(color, .25s);
    @include color-hvr($c_black_light);
  }

  &__item-info {
    color: $c_muted;
    span {margin-right: 10px;}
    b {
      font-weight: $fw_semibold;
    }
  }

  &__item-protip {
    @include tdn(none);
    @include color-hvr($c_blue);
    @include trz(all, .25s);
    color: $c_blue;
    position: relative;
    padding-bottom: 1px;
    border-bottom: 1px dashed $c_blue;

    &:hover {border-bottom: 1px solid $c_blue; }
    &:active {border-bottom: 1px solid transparent; }
  }


  &__item-actions {
    width: 75px;
    height: 30px;
    line-height: 26px;
    border: 2px solid $c_brd_gray;
    border-radius: 15px;
    font-weight: $fw_bold;
  }
  &__item-count {
    box-shadow: none;
    float: left;
    width: 30px;
    height: 26px;
    padding: 0;
    max-width: 30px;
    text-align: center;
    color: $c_muted;
    border: none;
  }
  &__item-action {
    width: 20px;
    height: 26px;
    line-height: 26px;
    text-align: center;
    float: left;
    @include tdn(none);
    @include trz(color, .25s);
    font-family: $ff_title;
    color: $c_muted;
    font-weight: $fw_medium;
    font-size: 20px;

    &:hover {
      color: $c_blue;
    }
  }

  &__item-delete {
    @include tdn(none);
    @include trz(all, .25s);
    position: relative;
    color: $c_muted;
    padding-bottom: 1px;
    border-bottom: 1px dashed $c_muted;

    &:before {
      position: absolute;
      content: 'x';
      font-family: $ff_title;
      color: $c_muted;
      line-height: 1;
      font-weight: $fw_bold;
      font-size: 17px;
      right: 100%;
      top: 50%;
      margin-top: -10px;
      padding-right: 7px;
      @include trz(color, .25s);
    }
    &:hover {
      color: $c_blue;
      border-bottom: 1px dashed $c_blue;

      &:before {
        color: $c_error;
      }
    }
  }



  &__fake-row {
    display: table-row;

    background: transparent;
    height: 15px;

    .cart__cell {
      padding: 0;
      border: none;
    }
  }
}
