.card-product {


  &__protip {
    @include tdn(none);
    @include color-hvr($c_blue);
    @include trz(all, .25s);
    color: $c_blue;
    position: relative;
    padding-bottom: 1px;
    border-bottom: 1px dashed $c_blue;

    &:hover {border-bottom: 1px solid $c_blue; }
    &:active {border-bottom: 1px solid transparent; }
  }


  &__characteristics-title {
    font-weight: $fw_bold;
    font-size: $fz_medium;
    margin-bottom: 12px;
  }
  &__characteristics-line {
    @include clearfix();
    border-bottom: 2px dotted $c_base;

    &:not(:last-child) {
      margin-bottom: 13px;
    }
  }
  &__characteristics-left {
    background-color: #fff;
    position: relative;
    top: 4px;
    color: $c_base;
    line-height: 1;
    padding-right: 5px;
    float: left;
  }
  &__characteristics-right {
    background-color: #fff;
    position: relative;
    top: 4px;
    color: $c_base;
    line-height: 1;
    padding-left: 5px;
    float: right;
    font-weight: $fw_semibold;
  }





  &__desc {
    margin-top: 25px;
  }
}
