.catalog-filter {
  // padding-bottom: 20px;
  border: 2px solid $c_brd_gray;
  border-radius: 10px;

  &__area {
    &:not(.catalog-filter__area--actions) {
      border-bottom: 2px solid $c_brd_gray;
    }

    &--actions {
      padding: 20px 25px 20px;
      text-align: center;
    }

    &:first-child .catalog-filter__area-header a {
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
    }
  }


  &__area-content {
    padding: 5px 15px 20px;
  }

  &__area-header {

    a {
      @include tdn(none);
      // @include trz(all, .25s);
      font-size: $fz_medium;
      font-weight: $fw_semibold;
      padding: 12px 20px 12px 30px;
      background-color: #fff;
      display: block;
      width: 100%;
      position: relative;

      &:before {
        content: '';
        background-image: $catalog-sprite_uri;
        background-repeat: no-repeat;
        position: absolute;
        left: 15px;
        display: block;
        width: 6px;
        height: 9px;
        background-position: -19px -11px;
        top: 50%;
        margin-top: -4.5px;
      }

      &:hover {
        background-color: #FAFAFA;
      }
    }



    &.open a:before {
      width: 9px;
      height: 6px;
      background-position: -29px -11px;
      margin-top: -3px;
    }
  }
}



