$w_catalog-item: 190px;
$h_catalog-item: 375px;

$h_catalog-item-img-wrap: 168px;

.catalog-items {

  font-size: 0;
  position: relative;


  &__element {
    z-index: $z_catalog-item;
    display: inline-block;
    vertical-align: top;
    min-height: $h_catalog-item;
    width: $w_catalog-item;
    background-color: #fff;
    font-size: $fz_small;
    line-height: 2;
    color: $c_muted-alt;
    padding: 10px 8px;
    border: 2px solid $c_brd_gray;
    border-radius: 15px;
    @include trz(box-shadow, .25s);

    &:hover {
      box-shadow: 0 0 25px 5px rgba(210, 205, 205, .45);
    }

    &:not(:nth-child(4n)) {
      margin-right: 29px;
    }

    &:nth-child(n+5) {
      margin-top: 29px;
    }
  }


  &__img-wrap {
    height: $h_catalog-item-img-wrap;
    position: relative;
    display: block;
    overflow: hidden;
    padding-bottom: 10px;
    border-bottom: 1px solid $c_brd_gray;
    margin-bottom: 7px;

    img {
      @include zero-centering();
    }
  }


  &__name {
    margin-bottom: 10px;
    min-height: 50px;
  }
  &__name-link {
    color: $c_blue;
    font-size: $fz_base;
    font-weight: $fw_semibold;
    line-height: 20/13*1;
    @include tdr();
    @include color-hvr($c_blue);
    @include trz(all, .25s);

  }

  &__price {
    color: $c_black-light;
    font-size: $fz_super-big;
    font-weight: $fw_semibold;
    line-height: 1;
    margin: 10px 0;

    span {
      font-size: $fz_large;
      font-weight: $fw_base;
    }
  }


  &__info {
    margin: 10px 0;

    p {
      font-size: $fz_small;
      color: $c_muted-alt;
      margin: 0;
      line-height: 17/12*1;
    }
  }
}
