.catalog-sublevel {

  background-color: #fff;
  border: 2px solid $c_brd_gray;
  @include list-clear();
  padding: 18px;
  font-size: 0;
  border-radius: 10px;

  li {
    font-size: $fz_small;
    line-height: 1;
    display: inline-block;
    vertical-align: top;
    width: 20%;
    padding-right: 5px;

    &:nth-child(n+6) {
      margin-top: 15px;
    }

  }

  a {
    color: $c_blue;
    @include tdr();
    @include color-hvr($c_blue);
    @include trz(color, .25s);
  }
}
