$c_circle-orange: #F7AA42;
$c_circle-lilac: #C1ADF9;
$c_circle-pink: #FF9EEE;


.company-info {
  margin-top: 50px;
  margin-bottom: 70px;

  &__content {
    margin-bottom: 20px;
  }

  &__feature-list {
    font-family: $ff_title;
    font-size: $fz_large;
    font-weight: $fw_bold;
    color: $c_black-light;
  }

  &__feature {
    min-height: 64px;
    padding: 10px 10px 10px 90px;
    position: relative;
  }

  &__feature-more,
  &__feature-purchaser,
  &__feature-unique {
    display: block;
    position: absolute;
    left: 0;
    top: 50%;
    width: 64px;
    height: 64px;
    margin-top: -32px;
    border-radius: 50%;
    &:before {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
  &__feature-more {
    background-color: $c_circle-orange;
  }
  &__feature-purchaser {
    background-color: $c_circle-lilac;
  }
  &__feature-unique {
    background-color: $c_circle-pink;
  }

}
