.confirmed {
  padding-top: 55px;
  padding-bottom: 90px;


  &__content {
    width: 967px;
    margin: 0 auto;
    text-align: center;
    padding-top: 150px;
    padding-left: 230px;
    padding-right: 230px;
    min-height: 460px;
    background: url('../img/confirmed.png') no-repeat top center;
  }

  &__title {
    font-size: 30px;
    font-family: $ff_title;
    font-weight: $fw_bold;
    line-height: 36/30*1;
    margin-bottom: 30px;
  }

  &__summary {
    font-size: 34px;
    line-height: 52/34*1;
    color: $c_green-light;
    margin-bottom: 30px;

    b {
      font-weight: $fw_bold;
    }
  }

  &__text {
    font-size: $fz_medium-large;
    line-height: 24/16*1;
    margin-bottom: 100px;
  }
}
