$w_contacts-map-info: 460px;
$h_contacts-map: 545px;

.contacts-map {
  width: 100%;
  height: $h_contacts-map;
  padding-top: 60px;
  padding-bottom: 70px;
  margin-bottom: 35px;
  background: url('../img/contacts-map.jpg') center center/100% auto no-repeat;

  &__info {
    padding: 35px 30px 45px;
    background-color: #fff;
    width: $w_contacts-map-info;
    border-radius: 15px;
    box-shadow: 0 0 5px 0 rgba(#30271c,.25);
  }

  &__info-item {
    padding-left: 30px;
    position: relative;
    font-size: $fz_base;
    line-height: 18/13*1;
    color: $c_muted;

    & + .contacts-map__info-item {
      margin-top: 20px;
    }

    &:before {
      content: '';
      display: block;
      position: absolute;
      top: 3px;
      left: 0;
      width: 16px;
      height: 15px;
      background-repeat: no-repeat;
      background-image: url('../img/contacts-icons.png');
    }

    &--phone:before {
      width: 16px;
      height: 15px;
      background-position: 0 0;
    }
    &--mail:before {
      width: 15px;
      height: 13px;
      background-position: 0 -32px;
    }
    &--adress:before {
      width: 12px;
      height: 15px;
      background-position: -1px -68px;
    }
    &--metro:before {
      width: 15px;
      height: 16px;
      background-position: 0 -158px;
    }
    &--schedule:before {
      width: 15px;
      height: 14px;
      background-position: 0 -240px;
    }
  }

  &__item-text {

  }
}
