.discounts-block {
  height: $h_discounts-block;
  width: $w_discounts-block;
  border-radius: 10px;
  background-color: #F2F5F6;
  position: relative;

  &__more-link {
    position: absolute;
    top: -40px;
    left: 0;
    color: $c_muted;
    line-height: 1;
    padding-right: 10px;

    @include tdn(none);
    @include opacity-hvr();
    @include trz(opacity, .25s);

    &:before {
      position: absolute;
      left: 100%;
      top: 50%;
      margin-top: -3px;
    }
  }

  &__link {
    position: absolute;
    bottom: 22px;
    left: 17px;
  }
}
