.empty-cart {
  padding-top: 55px;
  padding-bottom: 90px;


  &__content {
    width: 550px;
    margin: 0 auto;
    text-align: center;
    padding-top: 210px;
    min-height: 330px;
    background: url('../img/empty-cart.png') no-repeat 175px 0;
  }

  &__title {
    font-size: 30px;
    font-family: $ff_title;
    font-weight: $fw_bold;
    line-height: 36/30*1;
    margin-bottom: 20px;
    color: #d2d4d6;
  }

  &__link-wrap {
    margin-bottom: 50px;
  }

  &__link {
    @include tdn(none);
    @include trz(all, .25s);
    @include color-hvr($c_blue);

    position: relative;
    padding-bottom: 1px;
    border-bottom: 1px dashed $c_blue;

    &:hover {
      border-bottom: 1px solid $c_blue;
    }

    &:active {
      border-bottom: 1px solid transparent;
    }

  }

}
