$c_error-page-title: #494949;
.error-page {
  height: 100%;
  body {
    height: 100%;
    background-color: #EDF0F2;
  }

  .container {
    height: 100%;
    background-repeat: no-repeat;
    background-image: url('../img/error500.png');
    background-size: 474px 626px;
    background-position: 100px center;
    position: relative;
    padding-bottom: 100px;
  }

  &__content {
    position: absolute;
    top: 50%;
    left: 627px;
    width: 340px;
    margin-top: -210px;
  }
  &__title {
    color: $c_error-page-title;
    font-size: 210px;
    line-height: 1;
    font-family: $ff_title;
    font-weight: $fw_bold;
    text-align: center;
    margin-bottom: 30px;
  }
  &__title-text {
    display: block;
    font-size: 25px;
    text-transform: uppercase;
    margin-top: -20px;
  }
  &__text {
    margin: 30px 0 45px 10px;
    font-family: $ff_base;
    color: $c_muted;
  }

  &__footer {
    width: 100%;
    position: absolute;
    bottom: 30px;
    text-align: center;
    color: $c_muted;
    font-size: $fz_small;
  }

  &__navigation {
    @include list-clear();
    @include clearfix();
    margin-top: 0px;
    text-align: center;
    display: inline-block;
    vertical-align: top;
    margin-left: auto;
    margin-right: auto;

    li {
      float: left;
      &:not(:last-child) {
        padding-right: 30px;
        margin-right: 25px;
        position: relative;
        &:after {
          content: '';
          position: absolute;
          top: 50%;
          right: 0;
          width: 8px;
          height: 8px;
          border-radius: 50%;
          background-color: #C182ED;
          display: block;
          margin-top: -4px;
        }
      }
    }

    a {
      font-size: $fz_medium-large;
      color: $c_muted;
      @include tdn(none);
      @include trz(color, .25s);
      @include color-hvr($c_muted);
      font-weight: $fw_bold;
    }
  }


  &--pnf {
    .container {
      background-image: url('../img/error404.png');
      background-size: 794px 830px;
      background-position: center center;
    }

    .error-page {

      &__title {
        font-size: 50px;
        text-transform: uppercase;
      }
      &__content {
        width: 100%;
        left: 0;
        margin-top: -160px;
        text-align: center;
      }
      &__text {
        margin-top: 20px;
        margin-bottom: 30px;
      }
    }
  }

}
