.footer {

  &--sticky {
    position: absolute;
    bottom: 0;
    width: 100%;
    // Why 60??
    min-height: 120px;
  }

  &__info {
    margin-top: 74px;
    margin-bottom: 108px;
  }
  &__links {
    margin-bottom: 20px;
  }
  &__bottom {
    padding-top: 15px;
    padding-bottom: 30px;
  }
}
