.footer-menu {

  &__title {
    @extend .h3;
    line-height: 1;
    margin-bottom: 14px;
    position: relative;
    top: -3px;
  }

  &__list {
    @include list-clear();
    a {
      @include tdn();
      @include color-hvr($c_base);
      @include trz(color, .25s);
    }
  }

  li {
    font-size: $fz_small;
    line-height: $lh_small;
    margin-bottom: 12px;
  }
}
