$bg_control-alt: #F6F6F6;
$w_control-small: 90px;
$w_control-wide: 300px;
$w_control-big-wide: 650px;

.form {
  font-family: $ff_base;

  &__group {
    margin-bottom: 15px;

    &--full-width {
      width: 100%;

      .form__control {
        width: 100%;
      }
    }
    &--mb0 {
      margin-bottom: 0;
    }
    &--margined {
      margin-left: 20px;
    }
    &--search-range {
      width: 310px;
      position: relative;
      top: -8px;
    }

    &--inline {
      display: inline-block;
      vertical-align: middle;
    }

    &--colors {
      font-size: 0;

      .form__checkbox-wrap {
        &:nth-child(n+7) {
          margin-top: 10px;
        }
        &:not(:nth-child(6n)) {
          margin-right: 7px;
        }
      }
    }

    &--colors-block {
      font-size: 0;

      .form__checkbox-wrap {
        &:nth-child(n+22) {
          margin-top: 10px;
        }
        &:not(:nth-child(21n)) {
          margin-right: 7px;
        }
      }
    }

    &--two-colums {
      font-size: 0;

      .form__checkbox-wrap {
        width: 47.5%;
        &:nth-child(n+3) {
          margin-top: 10px;
        }
        &:not(:nth-child(2n)) {
          margin-right: 5%;
        }
      }
    }

    &--four-colums {
      font-size: 0;
      width: 600px;

      .form__checkbox-wrap {
        width: calc(100% / 4 - 7px);

        &:nth-child(n+5) {
          margin-top: 10px;
        }
        &:not(:nth-child(4n)) {
          margin-right: 9px;
        }
      }
    }

  }

  &__input-group {
    position: relative;
    display: table;
    border-collapse: collapse;
    line-height: 22/14*1;
  }

  &__label {
    color: $c_muted;
  }

  &__control {
    padding: 7px 12px;
    border: 0;
    border-radius: 5px;
    background-color: #fff;
    height: 36px;
    line-height: 36px;
    @include trz(all, .25s);

    &:focus {
      box-shadow: inset 0 0 4px 0 gray;
    }


    &--invalid {
      box-shadow: inset 0px 0px 4px 0 $c_error;
    }
    &--valid {
      box-shadow: inset 0 0 4px 0 $c_success;
    }

    &--alt {
      background-color: $bg_control-alt;
      color: $c_muted;
    }

    &--small {
      width: $w_control-small;
    }
    &--range {
      width: $w_control-small;
      height: 25px;
      padding-top: 5px;
      padding-bottom: 5px;
      line-height: 25px;
    }
    &--wide {
      width: $w_control-wide;
    }
    &--big-wide {
      width: $w_control-big-wide;
    }
    &--large {
      line-height: 44px;
      height: 44px;
    }
  }
  &__input-addon {
    vertical-align: top;
    width: 40px;
  }

  textarea.form__control {
    min-height: 100px;
  }


  &--inline {
    font-size: 0;
    * {
      font-size: $fz_medium;
      line-height: 1;
    }
    .form__group {
      display: inline-block;
      margin-bottom: 0;
      vertical-align: middle;
      // width: 100%;

      & + .form__group {
        margin-left: 20px;
      }
    }
    .form__input-group {
      display: inline-table;
      vertical-align: middle;
      width: 100%;

      .form__control,
      .form__input-addon {
        // width: auto;
      }

       .form__control:not(.form__control--wide) {
        width: 100%;
      }
    }
  }

  &__group {
    .form__input-group {
      .form__control, .form__input-addon {
        display: table-cell;
      }
      .form__control {
        // width: 100%;
        // min-width: 310px;
        &:first-child:not(:last-child) {
          border-bottom-right-radius: 0;
          border-top-right-radius: 0;
        }
      }
      .form__input-addon:last-child .btn {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
      }
    }
  }
  .input-group .form-control,
  .input-group-addon,
  .input-group-btn {
    display: table-cell;
  }

  &--contacts {
    margin-top: 25px;
  }


  &__button-reset {
    margin-top: 15px;
  }



  &__checkbox-wrap {
    display: inline-block;
    vertical-align: top;
    font-size: $fz_base;

  }

  &__checkbox-input {
    position: absolute;
    opacity: 0;
    overflow: hidden;
    visibility: hidden;
    width: 0;
    height: 0;
    line-height: 0;
    font-size: 0;
  }

  &__checkbox-label-color {
    width: 32px;
    height: 32px;
    line-height: 32px;
    vertical-align: middle;
    display: inline-block;
    border-radius: 50%;
    cursor: pointer;
    border: 2px solid #fff;
    background: red;

  }

  &__checkbox-label {
    padding-left: 30px;
    position: relative;
    display: inline-block;
    min-height: 22px;
    font-weight: $fw_semibold;
    color: $c_muted;
    @include trz(color, .25s);
    cursor: pointer;

    &:before,
    &:after {
      content: '';
      display: block;
      position: absolute;
      // top: 50%;
    }

    &:before {
      width: 22px;
      height: 22px;
      border-radius: 4px;
      // margin-top: -11px;
      top: -1px;
      border: 2px solid $c_brd_gray;
      @include trz(all, .25s);
      display: inline-block;
      vertical-align: middle;
      margin-right: 7px;
      background-color: #fff;
      z-index: $z_1;
      left: 0;
    }
    &:after {
      z-index: $z_2;
      // margin-top: 9.5px;
      top: 5px;
      left: 6px;
      width: 10px;
      height: 0;
      @include trz(height, .25s);
      background-image: $catalog-sprite_uri;
      background-repeat: no-repeat;
      background-position: 0 -25px;
    }
    &:hover {
      color: $c_black-light;
      &:before {
        border-color: darken($c_brd_gray, 10%);
      }
    }
  }

  &__checkbox-input:checked + .form__checkbox-label {
    color: $c_black-light;
    &:before {border-color: darken($c_brd_gray, 10%);}
    &:after {height: 9px;}
  }

  &__checkbox-input:checked + .form__checkbox-label-color {
    width: 32px;
    height: 32px;
    border: 2px solid #fff;
    box-shadow: 0 0 0 2px $c_date;
  }
}













.validate {
  position: relative;
}
.validate__message {
  display: block;
  width: 100%;
  padding: 10px;
  background-color: $c_error;
  position: absolute;
  top: 100%;
  left: 0;
  z-index: $z_100;
  color: #fff;
  font-style: italic;
  &:before {
    content: '';
    display: block;
    width: 0;
    height: 0;
    bottom: 100%;
    position: absolute;
    border: 5px solid transparent;
    border-bottom-color: $c_error;
  }
}
