.fulltext {

  &__header {
    border-bottom: 3px solid $c_brd_gray;
    margin-bottom: 35px;
  }

  &__header-img-wrap {
    position: relative;
    overflow: hidden;
    background-color: #fff;
    border: 2px solid $c_brd_gray;
    border-radius: 10px;
    // box-shadow: inset 0 0 6px 10px #fff;
    width: 100%;
    display: block;
    max-width: 847px;
    height: 246px;
    margin-bottom: 17px;
  }

  &__header-img {
    @include zero-centering();
    border-radius: 10px;
    padding: 6px;
  }

  &__date {
    display: block;
    color: #b0b0b0;
    font-size: 12px;
    line-height: 2;
    margin-bottom: 5px;
  }

  &__content {
    padding-bottom: 30px;
    border-bottom: 3px solid $c_brd_gray;
    margin-bottom: 20px;


    .h5 {
      margin-top: 25px;
      margin-bottom: 20px;
    }

    p strong {
      font-size: $fz_medium-large;
      color: $c_black-light;
      line-height: 1.5;
    }

    img {
      max-width: 100%;
      height: auto;

    }
  }


}
