.header-contacts {
  &__work-hours {
    font-size: $fz_small;
    line-height: 1;
    color: $c_muted;
  }

  &__phone {
    font-family: $ff_title;
    font-size: $fz_phone;
    font-weight: $fw_bold;
    line-height: 1;
    padding-top: 5px;
  }

  &__callback-area {
    margin-top: 7px;
  }
}
