.header-panel {
  position: relative;
  &--sticky {
    padding-top: 15px;
    padding-bottom: 15px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: $z_header-panel;
    background-color: #fff;
    box-shadow: 0 0 20px 0 rgba(0,0,0,.5);

    .header-panel {
      &__logo {
        width: 225px;
        margin-left: 40px;
      }
      &__cart-area {
        margin-left: 25px;
      }
      &__btn-area {
        margin-right: 70px;
        margin-left: 25px;
      }
    }
    .header-contacts {
      &__callback-area {
        display: none;
      }
    }
  }

  &__left-col {
    padding-top: 5px;
    font-size: 0;
    z-index: $z_header-panel;
  }
  &__right-col {
    font-size: 0;
    text-align: right;
  }

  &__logo {
    display: inline-block;
    // vertical-align: top;
    vertical-align: middle;
    width: 254px;
    @include tdn(none);
    @include opacity-hvr();
    @include trz(all, .25s);
    margin-right: 20px;

    img {
      display: block;
      max-width: 100%;
      height:auto;
    }
  }
  &__slogan {
    // vertical-align: top;
    vertical-align: middle;
    display: inline-block;
    width: 150px;
    font-size: $fz_small;
    line-height: $lh_small;
    font-weight: $fw_bold;
    font-style: italic;
    text-transform: uppercase;
    color: $c_black-light;
    padding-top: 5px;
  }

  &__contact-area {
    width: 215px;
    display: inline-block;
    vertical-align: top;
    // vertical-align: middle;
    font-size: $fz_base;
  }

  &__cart-area {
    display: inline-block;
    vertical-align: top;
    // vertical-align: middle;
    font-size: $fz_base;
    width: 190px;
    margin-left: 40px;
    @include trz(all, .25s);
  }

  &__btn-area {
    display: inline-block;
    vertical-align: top;
    // vertical-align: middle;
    font-size: $fz_base;
    max-width: 170px;
    margin-left: 30px;
    @include trz(all, .25s);
  }
}
