$h_sticky-header: 450px;
.header {
  margin-bottom: 50px;

  &__top {
    padding: 40px 0 0;
    min-height: 80px;
    @include clearfix();
    margin-bottom: 45px;
  }
  &__catalog {
    position: absolute;
    top: 145px;
    margin-top: 10px;
    @include trz(top, .2s);

    &--sticky {
      top: 100%;
      height: $h_sticky-header;
      overflow-y: auto;
    }
  }


  &__sub-navigation {
    @include list-clear();
    @include clearfix();
    font-size: $fz_base;

    li {
      float: left;
      & + li {
        margin-left: 34px;
      }
    }

    a {
      line-height: 1;
      @include tdn();
      @include trz(color, .25s);
      @include color-hvr($c_black-light);
    }
  }
  &__sign {
    text-align: right;
  }
  &__sign-panel {
    color: $c_base;
    font-size: $fz_base;
    font-weight: $fw_bold;
  }
  &__sign-separatop {
    padding: 0 2px 0 3px;
  }
  &__sign-in {
    position: relative;
    &:before {
      position: absolute;
      top: 4px;
      left: -13px;
      // display: block;
      // padding-right: 15px;
      // width: 8px;
      // height: 10px;
      // background-repeat: no-repeat;
    }
  }
  &__sign-in,
  &__sign-up {
    @include tdn(none);
    @include trz(all, .25s);
    @include color-hvr($c_base);
    padding-bottom: 1px;
    border-bottom: 1px dotted $c_base;
    &:hover {
      border-bottom: 1px solid $c_base;
    }
    &:active {
      border-bottom: 1px solid transparent;
    }
  }

  &__panel {
    margin-bottom: 35px;
    min-height: 70px;
  }
}
