.header-cart {
  // @include clearfix();
  padding-left: 40px;
  height: 40px;
  position: relative;
  text-align: right;

  &__link {
    position: absolute;
    bottom: 0;
    left: 0;
    display: block;
    z-index: $z_header-panel + 1;
    background-repeat: no-repeat;
    @include opacity-hvr();
    @include trz(opacity, .25s);

    span {
      display: block;
      position: absolute;
      top: 0;
      left: 15px;
      padding: 4px 6.5px;
      border-radius: 50%;
      background-color: $bg_orange;
      font-family: $ff_title;
      font-weight: $fw_bold;
      font-size: $fz_medium;
      line-height: 1;
      color: #fff;
    }
  }
  &__cost {
    font-family: $ff_title;
    font-weight: $fw_bold;
    font-size: $fz_large;
    line-height: 1;
    position: absolute;
    max-width: 110px;
    text-align: right;
    bottom: -4px;
    left: 45px;
    text-transform: uppercase;
  }

  &__min-price {
    color: #00c2f1;
    font-size: $fz_small;
    line-height: 1;
    position: absolute;
    top: 5px;
    left: 45px;
    font-weight: $fw_bold;

    a {
      @include tdn(none);
      color: #00c2f1;
      padding-bottom: 1px;
      border-bottom: 1px dashed #00c2f1;

      &:hover {
        border-bottom: 1px solid #00c2f1;
      }
      position: relative;
      // font-weight: $fw_semibold;

      &:before {
        position: absolute;
        top: 3px;
        left: 100%;
        margin-left: 5px;
      }
    }
  }
}
