.left-menu {
  @include list-clear();

  padding: 15px 0;
  background-color: $bg_left-menu;
  border-radius: 15px;

  li {
    padding-left: 35px;
    padding-right: 20px;
  }

  &__item {
    padding-top: 10px;
    position: relative;
    font-size: 15px;
    line-height: 24/15*1;
    font-weight: $fw_semibold;


    &.collapsibleListOpen {
      .left-menu__submenu {
        display: block;
      }
    }
    &.collapsibleListClosed {
      .left-menu__submenu {
        display: none;
      }
    }

    &:before {
      content: '';
      background-image: $catalog-sprite_uri;
      background-repeat: no-repeat;
      position: absolute;
      left: 20px;
      top: 18px;
    }
    &.collapsibleListClosed {
      &:before {
        background-position: -19px -11px;
        width: 6px;
        height: 9px;
      }
    }
    &.collapsibleListOpen {
      &:before {
        background-position: -29px -11px;
        width: 9px;
        height: 6px;
        top: 20px;
      }
    }
    // padding-bottom: 10px;

    &:not(:last-child) {
      border-bottom: 1px solid $c_brd_left-menu;
    }

    > a {
      margin-bottom: 10px;
      display: inline-block;
      color: #000;
      @include tdn(none);
      @include trz(color, .25s);
      @include color-hvr(#000)
    }
  }

  &__submenu {
    @include trz(all, .25s);
    @include list-clear();
    background-color: $bg_left-submenu;
    margin-left: -35px;
    margin-right: -20px;
    border-top: 1px solid $c_brd_left-menu;
    padding-top: 10px;
    padding-bottom: 10px;

    a {
      @include tdr();
      @include trz(color, .25s);
      font-size: $fz_small;
      line-height: $lh_small;
      color: $c_muted;
      margin: 0;

      &:hover {
        color: $c_purple;
      }
    }

    li + li {
      margin-top: 5px;
    }

    li.-current a {
      color: $c_purple;
      @include tdn(none);
      font-weight: $fw_semibold;
    }


  }
}


.collapsibleListOpen {
  display: block;
}
