.light-filter {
  margin: 0 0 20px;
  font-size: 0;

  &__item {
    display: inline-block;
    vertical-align: middle;
    height: 28px;
    font-weight: 600;
    font-size: 14px;
    color: #777;
    line-height: 1;
    @include trz(all, .25s, ease-in-out);
    @include tdn(none);

    padding: 6px 16px;
    border: 2px solid transparent;
    border-radius: 50px;

    &:hover {
      border-color: $c_muted;
      color: $c_muted;
    }

    &--active {
      border-color: $c_black-light;
      color: $c_black-light;
    }
  }

  &__item + .light-filter__item {
    margin-left: 10px;
  }

}
