$c_main-news_brdr: #DDDDDD;
$c-main-news_title: #cacaca;
.main-news {
  padding: 25px 20px;
  width: 240px;
  position: relative;
  border: 2px solid $c_main-news_brdr;
  border-radius: 10px;
  margin-top: 12px;

  &__title {
    @extend .h4;
    position: absolute;
    color: #cacaca;
    background-color: #fff;
    top: -12px;
    left: 20px;
    padding: 0 10px;
    margin: 0;
    text-transform: uppercase;
  }

  &__item {
    & + .main-news__item {
      margin-top: 15px;
    }
  }

  &__link {
    font-size: $fz_medium-large;
    line-height: 1.1;
    font-weight: $fw_bold;
    font-family: $ff_title;
    color: $c_black-light;
    @include tdn();
    @include color-hvr($c_black-light);
    @include trz(all, .25s);
  }
  &__date {
    // margin-top: 2px;
    display: block;
    color: $c_date;
    font-size: $fz_small;
    line-height: 2;
  }
}
