$c_event-link: #ffc075;
$bg_event-link: #FFF7DD;


.main-navigation {
  // padding-bottom: 20px;
  position: relative;
  margin-bottom: 20px;
  @include clearfix();
  font-size: 0;




  &__catalog-link {
    width: 200px;
    margin-right: 10px;
    display: inline-block;
    vertical-align: middle;
    text-transform: uppercase;
    font-family: $ff-title;
    font-size: $fz_large;
    color: $c_black-light;
    font-weight: $fw_bold;
  }

  &__menu {
    @include list-clear();
    @include clearfix();
    display: inline-block;
    vertical-align: middle;
    font-size: 0;
    width: 880px;
  }
  &__item {
    display: inline-block;
    vertical-align: middle;
    &:not(:first-child) {
      margin-left: 40px;
    }

    &--event {
      .main-navigation__link {
        font-family: $ff_title;
        font-size: $fz_medium-large;
        font-weight: $fw_bold;
        line-height: 38/16*1;
        text-transform: uppercase;
        color: $c_event-link;
        display: inline-block;
        vertical-align: middle;
        @include tdn(none);
        @include trz(all, .25s);
        width: 220px;
        position: relative;
        text-align: center;
        background-color: $bg_event-link;
        border-radius: 50px;
        // margin-right: 20px;
        &:before {
          content:'';
          display: block;
          width: 187px;
          height: 55px;
          position: absolute;
          top: -8.5px;
          right: 5px;
          background-repeat: no-repeat;
          background-image: url('../img/bg_event-link.png');
        }

        &:hover {
          background-color: darken($bg_event-link, 10%);
          color: darken($c_event-link, 10%);
        }
        &:active,
        &:focus {
          background-color: darken($bg_event-link, 15%);
          color: darken($c_event-link, 15%);
        }
      }

    }
  }


  &__link {
    @include tdn(none);
    @include opacity-hvr();
    @include trz(all, .25s);
    font-size: $fz_large;
    font-family: $ff_title;
    color: $c_black-light;
    font-weight: $fw_bold;
    line-height: 38/18*1;
    text-transform: uppercase;
  }

  &__btn-search {
    margin-left: 19px;
    width: 21px;
    height: 21px;
    @include hide-text();
    @include opacity-hvr();
    @include trz(all, .25s);
    font-size: 0 !important;
  }

  &__catalog-menu {
    position: absolute;
    top: 45px;
    margin-top: 10px;

    &--moved {
      top: 110px;
    }
  }
}
