.main-catalog {
  padding: 25px 10px 40px;
  border-radius: 10px;
  box-shadow: 0 0 5px 0 rgba(0,0,0,.5);
  // position: absolute;
  // top: 45px;
  // margin-top: 10px;
  @include trz(top, .2s);

  width: $container-width - 30px;
  background-color: #fff;
  z-index: $z_header-panel - 5;

  // &--moved {
  //   top: 110px;
  // }

  &:before {
    content:'';
    position: absolute;
    bottom: 100%;
    left: 100px;
  }

  &__group {
  }

  &__group-name {
    font-family: $ff_title;
    font-size: $fz_medium;
    color: $c_black-light;
    font-weight: $fw_bold;
    text-transform: uppercase;
    line-height: 18/14*1;
    @include tdn();
    @include color-hvr($c_black-light);
    @include trz(color, .25s);
  }

  &__list {
    @include list-clear();
    margin-top: 15px;
    margin-bottom: 10px;

    li {
      + li {
        margin-top: 7px;
      }
    }

    a:not(.main-catalog__more-link) {
      font-size: $fz_small;
      color: $c_muted;
      @include tdn();
      @include color-hvr($c_muted);
      @include trz(color, .25s);
      line-height: 16/12*1;
    }
  }

  &__more-link {
    @include tdn();
    @include color-hvr($c_link);
    @include trz(color, .25s);
    font-size: $fz_small;
  }
}
