.main-content {
  padding-bottom: 50px;

  .main-content__header {


    sup {
      color: $c_muted;
      font-size: $fz_micro;
      line-height: 1;
      position: relative;
      top: -10px;
      font-style: italic;
      margin-left: 5px;
    }
  }
  .main-content__header-title {}

}
