.news {
  &__list {
    padding-bottom: 55px;
  }

  &__item-img-wrap {
    position: relative;
    overflow: hidden;
    background-color: #fff;
    border: 2px solid $c_brd_gray;
    border-radius: 10px;
    // box-shadow: inset 0 0 6px 10px #fff;
    width: 100%;
    display: block;
    max-width: 263px;
    height: 155px;
    margin-bottom: 10px;

    @include opacity-hvr();
    @include trz(opacity, .25s);
    cursor: pointer;
  }

  &__item-img {
    @include zero-centering();
    border-radius: 10px;
    padding: 6px;
  }


  &__item-name {
    font-family: $ff_title;
    font-weight: $fw_medium;
    font-size: $fz_h5;
    color: $c_black-light;
  }



  &__item-date {
    display: block;
    color: #b0b0b0;
    font-size: 12px;
    line-height: 2;
    margin-bottom: 2px;
  }


  &__item-info {
    text-align: left;
  }

  &__item-text {
    font-size: $fz_base;
    color: $c_muted;
    line-height: 24/13*1;
  }


  &__main {
    padding-bottom: 44px;
    margin-bottom: 30px;
    border-bottom: 3px solid $c_brd_gray;

    .news__item-img-wrap {
      max-width: 480px;
      height: 245px;
      margin-bottom: 0;
    }
    .news__item-name {
      font-size: $fz_h2;
      line-height: $lh_h2;
    }
    .news__item-text {
      margin-bottom: 15px;
    }
  }

}
a.news__item-name {
  @include tdn();
  @include color-hvr($c_black-light);
  @include trz(all, .25s);
}
