.page-nav {

  display: block;
  font-size: 0;
  text-align: right;
  line-height: 30px;
  margin-right: 10px;

  &__btn {
    font-size: $fz_small;
    line-height: 20px;
    text-align: center;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: transparent;
    display: inline-block;
    vertical-align: middle;
    color: $c_muted;
    @include tdn(none);
    @include trz(all, .25s);

    &:hover {
      background-color: lighten($bg_btn-base, 10%);
    }

    & + .page-nav__btn {
      margin-left: 5px;
    }

    &--prev,
    &--next {
      background-color: #fff;
      position: relative;
      &:before {
        content: '';
        background-image: $catalog-sprite_uri;
        width: 6px;
        height: 9px;
        position: absolute;
        top: 50%;
        left: 50%;
        margin-top: -4.5px;
        margin-left: -3px;
      }

      &:hover {
        background-color: #fff;
      }
    }

    &--prev {
      margin-right: 10px;
      &:before {background-position: 0 -11px; }

      &.page-nav__btn--disabled {
        &:before {background-position: 0 0; }
      }
    }
    &--next {
      margin-left: 10px;
      &:before {background-position: -8px -11px; }

      &.page-nav__btn--disabled {
        &:before {background-position: -8px 0; }
      }
    }


    &--active {
      color: $c_black-light;
      background-color: $bg_btn-base;
    }

    &--disabled {
      cursor: not-allowed;
    }
  }
}
