.panel-right {
  width: 262px;
  background-color: $bg_right-panel;
  border-radius: 10px;

  b {
    font-weight: $fw_semibold;
    font-size: $fz_base;
  }
  .simple-list {
    margin-bottom: 0;
  }
  li {
    font-size: $fz_small;
    + li {
      margin-top: 6px;
    }
  }
  p {
    font-size: $fz_small;
  }


  &__top {
    padding: 15px 25px 25px;
    border-bottom: 2px solid $c_brd_gray;
  }
  &__middle {
    padding: 20px 25px 15px;
    border-bottom: 2px solid $c_brd_gray;
    color: $c_muted;
    line-height: 18/13*1;
  }
  &__bottom {
    padding: 15px 25px;
  }


  &__summary {
    font-size: $fz_medium;
    margin-bottom: 5px;

    b {
      font-weight: $fw_bold;
    }
  }
  &__summary-cost {
    font-family: $ff_title;
    font-size: $fz_mega;
    font-weight: $fw_bold;
    line-height: 1;
    color: $c_black-light;
    margin-bottom: 15px;
  }

  &__phone {
    padding-left: 30px;
    position: relative;
    line-height: 23px;
    font-weight: $fw_semibold;
    font-size: $fz_big;
    color: $c_muted;

    &:before {
      display: block;
      position: absolute;
      top: 0;
      left: 0;
    }
  }
  &__per-unit {
    color: $c_muted;
    font-size: $fz_micro;
    position: relative;
    top: -15px;
  }
}
