$w_popup-min-price: 635px;
$h_popup-min-price: 380px;

$w_popup-callback: 360px;
$h_popup-callback: 490px;

$w_popup-add-cart: 555px;
$h_popup-add-cart: 360px;

.popup {
  position: relative;
  background-color: #FFF;
  padding: 20px;
  width: auto;
  max-width: 500px;
  margin: 20px auto;
  border-radius: 10px;



  &--add-cart {
    width: $w_popup-add-cart;
    max-width: $w_popup-add-cart;
    height: $h_popup-add-cart;
    padding-top: 30px;
    padding-right: 50px;
    padding-bottom: 35px;
    padding-left: 50px;
  }

  &__cart-title {
    font-family: $ff_title;
    font-weight: $fw_bold;
    font-size: 20px;
    line-height: 1;
    text-align: center;
    text-transform: uppercase;

    span {
      display: inline-block;
      vertical-align: middle;
      margin-right: 10px;
      width: 36px;
      height: 36px;
      border-radius: 50%;
      background-color: $bg_green;
      position: relative;

      &:before {
        background-size: 22px 19px;
        width: 22px;
        height: 19px;
        position: absolute;
        top: 50%;
        left: 50%;
        margin-top: -9.5px;
        margin-left: -11px;
      }
    }
  }

  &__cart-item {
    margin-top: 25px;
    margin-left: -50px;
    margin-right: -50px;
    padding: 20px 70px;
    background-color: #F2F5F7;
    margin-bottom: 30px;
    font-size: 0;
  }

  &__cart-links {
    margin-top: 30px;
    @include clearfix();

    .btn {
      &:first-child {float: left;}
      &:last-child {float: right;}
    }
  }

  &__cart-img-wrap {
    display: inline-block;
    vertical-align: middle;
    width: 128px;
    height: 128px;
    background-color: #fff;
    position: relative;
    overflow: hidden;
    margin-right: 25px;
    border-radius: 5px;

    img {
      @include zero-centering();
    }
  }

  &__cart-item-name {
    width: 260px;
    display: inline-block;
    vertical-align: middle;
    font-size: 20px;
    line-height: 24/20*1;
    color: $c_muted;
  }






  &--callback {
    padding: 30px 45px 45px;
    width: $w_popup-callback;
    max-width: $w_popup-callback;
    height: $h_popup-callback;
  }

  &__callback-title {
    font-family: $ff_title;
    font-weight: $fw_bold;
    text-transform: uppercase;
    font-size: 22px;
    line-height: 24/22*1;
    padding-bottom: 145px;
    margin-bottom: 45px;
    text-align: center;
    background: url('../img/callback.png') no-repeat bottom center;
  }

  &__callback-text {
    font-size: $fz_medium-large;
    line-height: 24/16*1;
    text-align: center;
    color: $c_muted;
    margin-bottom: 25px;
  }








  &--min-price {
    width: $w_popup-min-price;
    max-width: $w_popup-min-price;
    height: $h_popup-min-price;
    padding-left: 215px;
    padding-top: 40px;
    background: url('../img/bg_min-price.png') no-repeat left, #fff;
  }

  &__price-title {
    font-family: $ff_title;
    font-weight: $fw_bold;
    font-size: 70px;
    line-height: 1;

    span {
      font-size: 46px;
    }
  }
  &__price-subtitle {
    font-family: $ff_title;
    font-weight: $fw_medium;
    font-size: 20px;
    line-height: 1;
    margin-bottom: 30px;
  }

  &__price-list {
    @include list-clear();
    font-size: $fz_medium;
    line-height: $lh_medium;
    color: $c_muted;

    li {
      position: relative;
      padding-left: 20px;

      &:before {
        position: absolute;
        left: 0;
        top: 5px;
      }
    }

    li + li {
      margin-top: 18px;
    }
  }
}
