$h_search-panel-form: 44px;


.search-panel {
  width: $container-width - 30px;
  padding: 15px 0 15px 20px;
  background: #fff;
  position: absolute;
  top: -18px;
  left: 0;
  right: 0;
  bottom: 0;
  height: 74px;

  &--sticky {
    position: fixed;
    left: auto;
    right: auto;
    z-index: $z_header-panel + 5;
    top: 0;
  }

  &__form {
    height: $h_search-panel-form;
    line-height: $h_search-panel-form;
  }

  &__link {
    display: inline-block;
    vertical-align: middle;
    line-height: 1;
    width: 110px;
  }

  &__submit {
    float: right;
    position: relative;

    &:before {
      position: absolute;
      top: 50%;
      left: 34px;
      transform: translateY(-50%);
    }
  }

  &__close {
    float: right;
    margin-top: 7px;
    margin-left: 5px;
    @include opacity-hvr();
    @include trz(opacity, .25s);
  }
}
