$w_sS-item: 228px;
$h_sS-item: 168px;
$w_sS-item-product: 170px;
$h_sS-item-product: 170px;


.slider-scrolling {
  font-size: 0;

  &__item {
    font-size: $fz_base;
    line-height: 1;
    display: inline-block;
    vertical-align: top;
    width: $w_sS-item;
    min-height: $h_sS-item;
    margin-bottom: 20px;

    &:not(:last-child) {
      margin-right: 15px;
    }
  }

  &__link {
    display: block;
    width: $w_sS-item;
    height: $h_sS-item;
    cursor: pointer;
    @include tdn(none);
    @include opacity-hvr();
    @include trz(opacity, .25s);
    border: 2px solid $c_border-gray;
    position: relative;
    border-radius: 12px;
    margin-bottom: 10px;


    &--video {
      border: none;
    }
  }

  &__img {
    @include zero-centering();
    border-radius: 10px;
  }

  &__title {
    // margin-top: 10px;
    color: $c_black-light;
    font-size: $fz_base;
    line-height: $lh_base;
    text-align: left;
  }




  &__item--product {
    width: $w_sS-item-product;
    &:not(:last-child) {
      margin-right: 22px;
    }

    .slider-scrolling {

      &__link {
        width: $w_sS-item-product;
        height: $h_sS-item-product;
      }
    }
  }



  &__product-link {
    color: $c_black-light;
    font-weight: $fw_semibold;
    line-height: $lh_base;
    @include tdn();
    @include color-hvr($c_black-light);
    @include trz(color, .25s);
  }
  &__product-cost {
    color: $c_muted;
    margin-top: 10px;
  }

}
