.social-info {
  display: table;
  border-collapse: collapse;


  &__item {
    display: table-row;
  }

  &__item-title {
    @extend .h5;
    margin-bottom: 3px;
  }

  &__link-wrap {
    display: table-cell;
    vertical-align: top;
    padding-right: 22px;
  }

  &__link {
    display: block;
    width: 60px;
    height: 60px;
    background-color: $c_purple;
    border-radius: 50%;
    position: relative;

    &:before {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }

  &__text-wrap {
    display: table-cell;
    vertical-align: top;
    padding-bottom: 40px;
  }

}
