.social-contacts {
  text-align: center;

  &__link {
    padding-top: 40px;
    font-family: $ff_title;
    font-size: $fz_medium;
    color: $c_black-light;
    line-height: 1;
    display: inline-block;
    vertical-align: top;
    @include tdn(none);

    &:hover {
      color: $c_purple;
    }
  }
}
