$h_sorting-panel: 30px;
$bg_sorting-panel: #F2F4F6;


.sorting-panel {
  height: $h_sorting-panel;
  width: 100%;
  border-radius: 20px;
  background-color: $bg_sorting-panel;
  margin: 20px 0 45px;

  &--mb0 {
    margin-bottom: 0;
  }


  &__list {
    @include list-clear();
    @include clearfix();
    margin-left: 15px;
    font-size: $fz_small;
    line-height: $h_sorting-panel;


    li {
      display: inline;

      &:first-child {
        color: $c_black-light;
        font-weight: $fw_semibold;
      }
    }

  }
  &__item-wrap {
    padding-left: 15px;
    margin-left: 10px;
    color: $c_muted;
  }

  &__item {
    cursor: pointer;
    position: relative;
    @include trz(color, .25s);

    &--descending {
      color: $c_black-light;
      &:before {
        content: '';
        position: absolute;
        top: 50%;
        left: -10px;
        width: 8px;
        height: 5px;
        background-image: $catalog-sprite_uri;
        margin-top: -2.5px;
        background-position: -29px 0;
      }
    }
    &--ascending {
      color: $c_black-light;
      &:before {
        content: '';
        position: absolute;
        top: 50%;
        left: -10px;
        width: 8px;
        height: 5px;
        background-image: $catalog-sprite_uri;
        margin-top: -2.5px;
        background-position: -19px 0;
      }
    }

  }
}
