.sub-navigation {
  margin: 0 45px 0;

  &__table {
    display: table;
    width: 100%;
    border-collapse: collapse;
  }

  &__cell {
    display: table-cell;
    text-align: center;
  }
  a {
    font-size: $fz_base;
    color: $c_black-light;
    @include tdn();
    @include color-hvr($c_black-light);
    @include trz(all, .25s);
  }
}
