.subscribe {
  width: 100%;
  max-width: 457px;
  display: table;
  border-collapse: collapse;

  &__container {
    background-color: $bg_subscribe-form;
    display: table-cell;
    vertical-align: middle;
    padding: 30px 53px 40px;
  }

  &__sub-title {
    font-family: $ff_title;
    font-size: $fz_medium-large;
    line-height: 1;
    text-align: center;
  }
  &__title {
    font-family: $ff_title;
    font-size: $fz_phone;
    text-transform: uppercase;
    font-weight: $fw_bold;
    line-height: $fz_phone*1.5;
    text-align: center;
  }
  &__form {
    margin-top: 20px;
    margin-bottom: 20px;
  }

  &__remark {
    font-family: $ff_base;
    font-size: $fz_small;
    line-height: $lh_small;
    color: $c_muted;
    font-style: italic;

    text-align: center;
  }
}
