$lh_support: 37/36*1;

.support {
  text-align: center;
  padding: 15px 0;
  line-height: $lh_support;

  &__phone {
    font-family: $ff_title;
    font-weight: $fw_bold;
    font-size: $fz_mega;
    margin-bottom: 10px;
  }
  &__opening-hours {
    font-family: $ff_base;
    font-size: $fz_medium;
    color: $c_muted;
  }
}
