.table {
  font-size: $fz_medium;
  line-height: 24/14*1;
  font-family: $ff_base;
  color: $c_muted;
  border-collapse: collapse;
  border: none;
  vertical-align: middle;
  width: 100%;

  &--simple {
    font-weight: $fw_semibold;
    border-collapse: separate;

    th {
      padding: 20px 17px 15px;
      border-top: 2px solid $c_brd_gray;
      text-align: left;
      background-color: $bg_table-simple;

      &:first-child {
        border-left: 2px solid $c_brd_gray;
        border-top-left-radius: 15px;
        width: 310px;
      }
      &:last-child {
        border-right: 2px solid $c_brd_gray;
        border-top-right-radius: 15px;
      }
    }
    td {
      padding: 13px 17px;
      border-top: 2px solid $c_brd_gray;
      text-align: left;

      &:first-child {
        border-left: 2px solid $c_brd_gray;
        width: 310px;
      }
      &:last-child {
        border-right: 2px solid $c_brd_gray;
      }
    }


    tr:last-child {
      td {
        border-bottom: 2px solid $c_brd_gray;

        &:first-child {
          border-bottom-left-radius: 15px;
        }
        &:last-child {
          border-bottom-right-radius: 15px;
        }
      }
    }
  }
}
