$h_tabs-nav: 28px;

.tabs {
  // overflow: hidden;

  &--mainpage {
    height: 450px;
  }
  &--application {
    margin-top: 30px;
  }
  &--item-page {
    min-height: 330px;
  }

  &__nav {
    @include clearfix();
    @include list-clear();
    margin: 0 0 20px;
    font-size: 0;
  }

  &__nav-item {
    display: inline-block;
    vertical-align: middle;
    height: $h_tabs-nav;

    & + .tabs__nav-item {
      margin-left: 10px;
    }

  }

  &__nav-link {
    font-family: $ff_base;
    font-weight: $fw_semibold;
    font-size: $fz_medium;
    color: $c_muted;
    line-height: 1;
    @include tdn(none);
    @include trz(border-color, .25s);
    display: block;
    padding: 6px 16px;
    border: 2px solid transparent;
    border-radius: 50px;

    &:hover {
      border-color: $c_muted;
      color: $c_muted;
    }

  }

  &__nav-item.active {
    .tabs {
      &__nav-link {
        border-color: $c_black-light;
        color: $c_black-light;
      }
    }
  }


}
