.technology {
  margin: 30px 0;
  @include clearfix();

  &__title {
    // float: left;
    margin-right: 20px;
    font-size: 17px;
    line-height: 24/17*1;
    font-family: $ff_title;
    font-weight: $fw_medium;
    // max-width: 270px;
  }

  &__list {
    @include list-clear();
    // float: left;

    li {
      display: inline;
      & + li {
        padding-left: 15px;
      }
    }
    a {
      @include trz(color, .25s);
      @include tdn(none);
      font-size: $fz_base;
      color: $c_muted;
      line-height: 24/13*1;

      &:hover {
        color: #000;
      }
    }
  }
}
