.text-preview {
  @include trz(height, .5s);
  min-height: 80px;
  position: relative;
  margin: 0 0 12px;
  overflow: hidden;
  padding: 0 0 40px;


  h2 {
    @extend .h3;
  }


  &.closed {
    height: 290px !important;

    .text-preview__control {
      position: absolute;
      background-color: rgba(255,255,255, .9);
    }

    .text-preview__closed {
      display: block;
    }

    .text-preview__opened {
      display: none;
    }
  }

  &__control {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    display: block;
    height: 40px;
    color: $c_blue;
    @include tdn(none);

    &:active,
    &:focus {
     color: $c_blue;
    }
    // @exten: $hidden-stripe;
    // @extend .td-normal;
  }

  &__closed,
  &__opened {
    position: absolute;
    bottom: 0;
    // padding-right: 0px;
    border-bottom: 1px dashed $c_blue;
    font-size: $fz_base;

    &:before {
      position: absolute;
      top: 50%;
      left: 100%;
      margin-left: 10px;
      margin-top: -2.5px;
    }
  }

  &__closed {
    display: none;
  }

  &__opened {
    display: block;
  }
}
