$c_tile-catalog-gray: #9d9d9d;
$w_tile-catalog-item: 262px;
$bg_tile-catalog-item: #EDF0F2;
$c_tile-catalog-link: #adb2b5;
$c_tile-catalog-menu: #9da1a4;
$c_tile-catalog-menu-hover: #6b7073;


.tile-catalog {
  .col--xs-3:nth-child(n+5) {
    margin-top: 30px;
  }
}


.tile-catalog {
  margin: 60px 0 110px;

  &--small-offset {
    margin-top: 30px;
    margin-bottom: 80px;
  }

  &__header {
    @include clearfix();
    margin-bottom: 25px;
  }

  &__title {
    font-family: $ff_title;
    font-weight: $fw_bold;
    font-size:$fz_super-big;
    color: $c_black-light;
    line-height: 1;
    text-transform: uppercase;
    margin-bottom: 0;
    float: left;

    &--no-tt {
      text-transform: none;
    }
  }

  &__sub-title {
    margin-left: 25px;
    font-family: $ff_title;
    font-weight: $fw_base;
    line-height: 1;
    font-size: $fz_super-big;
    color: $c_tile-catalog-gray;
    text-transform: uppercase;
  }

  &--not-sub {
    .tile-catalog__title {
      float: none;
    }
  }


  &__item {
    width: $w_tile-catalog-item;
    background-color: $bg_tile-catalog-item;
    min-height: 160px;
    border-radius: 8px;
    position: relative;
    @include trz(all, .25s);
    padding: 90px 25px 10px;

    &:before {
      position: absolute;
      top: 0;
      left: 20px;
    }

    &:hover {
      .tile-catalog__name {
        color: $c_black-light;
      }
    }

    &:hover {
      .tile-catalog__menu {
        visibility: visible;
        opacity: 1;
        height: auto;
      }
    }
  }

  &__name {
    @include trz(color, .25s);
    @include tdn();
    color: $c_tile-catalog-link;
    font-family: $ff_title;
    font-size: $fz_large;
    font-weight: $fw_bold;
    line-height: 24/18*1;
    display: inline;
    text-transform: uppercase;
    cursor: pointer;
  }

  &__menu {
    z-index: $z_100;
    @include list-clear();
    padding: 0 25px 25px;
    position: absolute;
    top: 100%;
    left: 0;
    margin-top: -10px;
    background-color: $bg_tile-catalog-item;
    display: block;
    width: 100%;
    visibility: hidden;
    opacity: 0;
    height: 0;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;


    li {
      font-size: $fz_small;
      line-height: 2;
    }

    a {
      font-size: $fz_small;
      color: $c_tile-catalog-menu;
      @include tdn();
      line-height: 2;
      @include trz(all, .25s);

      &:hover {
        // font-weight: $fw_semibold;
        color: $c_tile-catalog-menu-hover;
      }
    }
  }
}
