html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  margin: 0;
  box-sizing: inherit;
}

textarea {
  resize: vertical;
}

.hide,
.hidden {
  display: none !important;
}

// =========================
// MIXINS INIT
// =========================
.cf,
.clearfix {
  @include clearfix;
}

// .cf-justify {
//   @include cf-justify;
// }
.list-clear,
.clear-list,
.clearlist {
  @include list-clear;
}

.hide-text,
.text-hide {
  @include hide-text;
}

/* .img-responsive {
  @include img-responsive;
} */

.text-overflow {
  @include text-overflow;
}

.-hidden {
  display: none !important;
}

/* .color-hvr {
  @include color-hvr(c_base);
} */





