/*============================
=            TABS            =
============================*/

// .js-tabs
// .js-tabsNavItem - li
// .js-tabsNavLink - click
// .js-tabsItem - tab
// active - showing

.js-tabs {

  .js-tabsItem {
    display: none !important;

    &.active {
      display: block !important;
    }
  }
}


