body {
  background-color: $bg_body;
}

.container {
  width: $container-width !important;

  &--big {
    width: 100% !important;
    max-width: $container-width-big;
    padding-left: 0 !important;
    padding-right: 0 !important;
  }

  &--wide {
    width: ($container-width - 30px) !important;
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
}


.magnifier {
  z-index: $z_100 !important;
}
