// =========================
// Body reset
// =========================
html {
  font-size: $fz_base;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  // font-family: $ff_base;
  // font-size: $fz_base;
  // line-height: $lh_base;
  font: $f_base;
  color: $c_base;
}





// =========================
// Reset fonts for relevant elements
// =========================
input,
button,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  outline: none;
  &:focus {
    outline:none;
  }
}




// // =========================
// // Figures
// //
// // We reset this here because previously Normalize had no `figure` margins. This
// // ensures we don't break anyone's use of the element.
// // =========================
// figure
//   margin 0





// =========================
// Images
// =========================
img {
  vertical-align: top;

  &.fullwidth-img {
    display: block;
    width: 100%;
    margin: 0 auto 16px;
    height: auto;
  }
}

// .img-responsive
//   img-responsive()
//   margin 0 auto



// =========================
// Horizontal rules
// =========================
hr {
  margin-top: $fz_large;
  margin-bottom: $fz_large;
  border: 0;
  width: 100%;
  border: 0;
  box-shadow: none;

  &.purple {
    height: 4px;
    border-radius: 5px;
    background-color: $c_brd_purple;
    margin: 16px 0;

    &--small {
      height: 2px;
      border-radius: 2px;
      margin: 10px 0;
    }
  }

}




// =========================
// Headers
// =========================
h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
  display: block;
  font-family: $ff_title;
  font-weight: $fw_semibold;
  margin: 0;
  color: $c_title;
}

.h1 {
  font-size: $fz_h1;
  line-height: $lh_h1;
  margin-bottom: 20px;
}
h1 {@extend .h1;}


.h2 {
  font-size: $fz_h2;
  line-height: $lh_h2;
  margin-bottom: 16px;
}
h2 {@extend .h2;}

.h3 {
  font-size: $fz_h3;
  line-height: $lh_h3;
  margin-bottom: 14px;
}
h3 {@extend .h3;}

.h4 {
  font-size: $fz_h4;
  line-height: $lh_h4;
  margin-bottom: 14px;
}
h4 {@extend .h4;}

.h5 {
  font-size: $fz_h5;
  line-height: $lh_h5;
  margin-bottom: 13px;
}
h5 {@extend .h5;}


// =========================
// base text
// =========================
p {
  margin: 0 0 12px;


// .content-text
//   font-size 13px
//   line-height 19px

// .lead
//   font-size fz_huge
//   font-weight 600

// .muted
//   color c_muted

// .semibold
//   font-weight 600

// .span-twolines
//   line-height 12px

  strong {
    font-weight: 700;
    font-family: $ff_base;
  }

// small,
// .small
//   font-size fz_small

// .text-small
//   font-size fz_small
//   line-height lh_middle

// .text-huge
//   font-size fz_huge

// .text-blue
//   color c_blue
}



// =========================
// Lists
// =========================
ol {
  padding: 0 0 0 20px;
  li {
    margin: 0 0 5px;
  }
}

/* ol.big-ol
  margin 10px 0 20px
  padding 0
  counter-reset bigList

  li
    display block
    margin 0
    padding 6px 0 6px 60px
    min-height 34px
    position relative
    list-style-type none
    font-weight 600
    &:before
      counter-increment bigList
      content counter(bigList)
      display block
      position absolute
      left 12px
      top 0
      width 34px
      height 34px
      border 2px solid c_green
      border-radius 17px
      text-align center
      font-size 18px
      line-height 30px

    a
      font-weight 400

  li + li
    margin-top 6px */

/* ul.green-ul
  list-style-type none
  padding 0
  margin 12px 0

  li
    position relative
    padding 0 0 0 25px

    &:before
      content "•"
      position absolute
      left 9px
      color c_green
      font-size 20px

  &--mt0
    margin-top 0

  li + li
    margin-top 20px
*/

/* ul.ul-next
  @extends .list-clear

  li
    position relative
    padding 0 0 0 20px

    &:before
      position absolute
      left 2px
      top 9px
*/


.simple-list {
  padding:  0;
  @include list-clear();
  margin: 20px 0 25px;

  li {
    position: relative;
    padding-left: 12px;
    font-size: $fz_base;
    line-height: $lh_base;
    color: $c_muted;

    + li {
      margin-top: 12px;
    }


    &:before {
      content:'';
      width: 5px;
      height: 5px;
      border-radius: 50%;
      background-color: $c_muted;
      position: absolute;
      top: 6px;
      left: 0;
    }
  }
}
// =========================
// Tables
// =========================
table {
  font-size: $fz_base;
  width: 100%;

}

// .td-normal
//   text-decoration underline

//   &:hover
//   &:focus
//     text-decoration none

//   &:active
//     text-decoration none

// .td-alt
//   text-decoration none

//   &:hover
//     text-decoration underline





// =========================
// Links
// =========================
a {
  color: $c_base;
  @include tdr;
  &:hover {
    color: $c_base;
  }
  &:focus {
    outline: none;
    color: $c_base;
    text-decoration: none;
  }
  &:active {
    color: $c_base;
    outline: none;
  }
}


.text-blue {
  color: $c_blue;
}
.link-blue {
  color: $c_blue;
  &:hover,
  &:active {color: $c_blue;}
}


.skype-link {
  display: inline-block;
  vertical-align: middle;
  color: $c_blue;
  @include tdn(none);
  @include color-hvr($c_blue);
  @include trz(all, .25s);

  & + .skype-link {
    margin-left: 30px;
  }

  i {
    display: inline-block;
    vertical-align: middle;
    margin-right: 5px;
  }

  span {
    display: inline-block;
    vertical-align: middle;
    border-bottom: 1px dashed $c_blue;
    @include trz(all, .25s);
  }

  &:hover {
    span {border-bottom: 1px solid $c_blue; }
  }
  &:active {
    span {border-bottom: 1px solid $c_blue; }
  }

}

//   // &.text-blue
//   //   @extend .tdr
//   //   &:hover
//   //     @extend .text-blue


// tdn()
//   text-decoration none

//   &:hover,
//   &:active,
//   &:focus
//     text-decoration none

// $tdn
//   tdn()

// .tdn
//   @extends $tdn


// td-reverse()
//   text-decoration none

//   &:hover,
//   &:active,
//   &:focus
//     text-decoration underline

// $tdr
//   td-reverse()


// .tdr
//   @extends $tdr

// .link-small
//   color-hvr (c_muted)
//   font-size 10px



// .link-dark-green
//   color c_base

//   &:hover
//     color c_green

//   &:active
//     color darken(c_green, 10%)



// .link-blue
//   color-hvr(c_blue)


